.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px;
    background-color: lightsalmon;
}
.logo-container {
    margin-left: 10px;
    display: flex;
    flex-direction: row; 
    align-items: center; 
  }
  
  .member-container {
    display: flex;
    cursor: pointer;
  }
#logo {
    font-size: 25px;
    font-family: 'TTTogether';
    color: crimson;
    margin-right: 10px;
}
#logoex {
    font-size: 20px;
    font-family: 'EliceDigitalBaeum-Bd';
    color: white;
}

#userIcon {
    font-size: 30px;
    padding: 10px;
    color: white;
}

#bookmark {
    color: crimson;
    font-size: 25px;
}

.menu-container {
  position: absolute;
  top: 60px; /* 아이콘 바로 아래에 위치하도록 조정 */
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 999;
}

.menu-container p {
  margin: 0;
  padding: 8px 0;
  cursor: pointer;
  transition: 0.2s;
}

.menu-container p:hover {
  color: #007bff;
  font-weight: bold;
}
