.requiremodal-container {
  position: fixed;       /* 화면 기준 고정 */
  top: 0;
  left: 0;
  width: 100vw;          /* 화면 전체 너비 */
  height: 100vh;         /* 화면 전체 높이 */
  background: rgba(0,0,0,0.5);  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;         /* 다른 요소보다 위에 표시 */
}

.membermodal-container {
  position: fixed;       /* 화면 기준 고정 */
  top: 0;
  left: 0;
  width: 100vw;          /* 화면 전체 너비 */
  height: 100vh;         /* 화면 전체 높이 */
  background: rgba(0,0,0,0.5);  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;         /* 다른 요소보다 위에 표시 */
}


.requiremodal-container > div {
  background: white;
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.requiremodal-container > div > p:nth-child(1) {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: -8px;
}

.requiremodal-container > div > p:nth-child(2) {
    color: gray;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}